<?xml version='1.0' encoding='utf-8'?>
<widget id="com.warfront.game" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>War Front</name>
    <description>KARDS Style Card Game</description>
    <author email="support@warfront.com" href="http://www.warfront.com">War Front Team</author>
    
    <content src="index.html" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="KeepRunning" value="true" />
    <preference name="BackgroundColor" value="0x000000" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="GradleVersion" value="7.6.1" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        
        <splash density="land-ldpi" src="res/screen/android/land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/land-mdpi.png" />
        <splash density="land-hdpi" src="res/screen/android/land-hdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/screen/android/land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/land-xxxhdpi.png" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>